body,
h1,
h2,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  background-color: #444;
  text-align: center;
  padding: 10px;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.feature {
  background-color: #ffcc00; /* Vibrant yellow background */
  border: 1px solid #ff6600; /* Orange border */
  padding: 20px;
  margin: 10px;
  width: calc(50% - 20px); /* 50% width with some margin */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.feature:hover {
  cursor: pointer;
  transform: scale(1.05); /* Enlarge the feature on hover */
}

.rainbow-text {
  color: #d327d3; /* Magenta text color */
  animation: rainbow 5s linear infinite; /* Add rainbow animation */
}

@keyframes rainbow {
  0% {
    color: #ff00ff;
  } /* Magenta */
  20% {
    color: #ff9900;
  } /* Orange */
  40% {
    color: #00cc00;
  } /* Green */
  60% {
    color: #00cccc;
  } /* Cyan */
  80% {
    color: #0000ff;
  } /* Blue */
  100% {
    color: #ff00ff;
  } /* Magenta */
}

.purple-text {
  color: #9900cc; /* Purple text color */
}

.orange-text {
  color: #ff6600; /* Orange text color */
}

.yellow-text {
  color: #ffcc00; /* Yellow text color */
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
